# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
(lambda num1, num2: num1 + num2)(10, 15)

25

#### Saving to a Variable

In [4]:
addTwo = lambda num: num + 2

addTwo(5)

7

In [5]:
adder = lambda num1, num2: num1 + num2

adder(20,20)

40

#### Multiple Inputs

In [6]:
def adder2 (num1,num2):
    return num1 + num2

#### Passing a Lambda into a Function

In [8]:
def math_operation(f, num):
    return f(num)

math_operation(lambda num: num * 5 ,10)

math_operation(lambda num: num ** 2, 10)

math_operation(lambda num: num - 20, 100)

def addTwo2(num):
    return num + 2

math_operation(addTwo2, 10)

12

#### Returning a Lambda from a Function

In [11]:
def returnFunc(num1, num2):
    outter_sum = num1 + num2
    return lambda num3, num4: num1 + num2 + num3 + num4

returnFunc(10, 20)(5, 11)

addTo50 = returnFunc(25, 25)

addTo50(10,10)
addTo50(100,100)

46

#### If Statements within Lambdas

In [15]:
(lambda num: 'odd' if num % 2 == 1 else 'even')(10)

['even' if num % 2 == 0 else 'odd' for num in range(11)]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [19]:
f = lambda x: x ** 3

result = f(2)
print(result)

8

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [24]:
def even_or_odd(nums):
    output = []
    for num in nums:
        if num % 2 == 0:
            output.append('even')
        else:
            output.append('odd')
        return output
    
even_or_odd(range_ten)

['odd']

In [22]:
range_ten = [num for num in range (1, 11)]

range_ten

list(map(lambda num: 'even' if num % 2 == 0 else 'odd', range_ten))

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

#### Using Lambda's with Map

In [27]:
[word for word in map(lambda word: word.title(), ['brandt', 'manuel', 'johnny', 'zakaria'])]

['Brandt', 'Manuel', 'Johnny', 'Zakaria']

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [32]:
num_list = [num for num in range (1,11)]

list(map(lambda num: 2 * num -1, num_list))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [37]:
print(range_ten)
print(list(filter(lambda num: num % 2 == 0, range_ten)))

print(range_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
def notVowell(letter):
    return letter.lower() not in 'aeiou'

'-'.join([letter for letter in filter(notVowell,'ABCDEFGHIJKLMNOPQRSTUVWXYZ')])

'B-C-D-F-G-H-J-K-L-M-N-P-Q-R-S-T-V-W-X-Y-Z'

#### Using Lambda's with Filter()

In [39]:
'-'.join(filter(lambda letter: letter.lower() not in 'aeiou', 'abcdefghijkmnlopqrstuvwxyz'))

'b-c-d-f-g-h-j-k-m-n-l-p-q-r-s-t-v-w-x-y-z'

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [47]:
from statistics import mean
list1=[2,3,4,5,2,6,7,2,5,7,9,9,44,55,6,7,3,7,8,9,33]
list(filter(lambda num: num>mean(list1),list1))

[44, 55, 33]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [52]:
from functools import reduce

sum([1,2,3])

reduce(lambda agg, num: agg + num, range(5))

agg = 0
for num in range(5):
    agg += num
agg

10

#### Using Lambda's with Reduce()

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [55]:
def recursiveAdder(num): 
    
    if num == 1:
        return 1
    print(f'recursiveAdder({num}) == {num} + recursiveAdder({num - 1} )')
    
    return num + recursiveAdder(num - 1)

recursiveAdder(5)

recursiveAdder(5) == 5 + recursiveAdder(4 )
recursiveAdder(4) == 4 + recursiveAdder(3 )
recursiveAdder(3) == 3 + recursiveAdder(2 )
recursiveAdder(2) == 2 + recursiveAdder(1 )

15

In [57]:
def whileAdder(num):
    output = 0
    while num >= 1:
        output += num
        num -= 1
    return output
whileAdder(5)

15

#### Writing a Factorial Function

In [59]:
def find_factorial(num):
    if num == 1:
        print(f'find_factorial(1) == 1')
        return 1
    print(f'find_factorial({num}) == {num} * find_factorial({num - 1})')
    return num * find_factorial(num - 1)
        
find_factorial(5)

find_factorial(5) == 5 * find_factorial(4)
find_factorial(4) == 4 * find_factorial(3)
find_factorial(3) == 3 * find_factorial(2)
find_factorial(2) == 2 * find_factorial(1)
find_factorial(1) == 1

120

In [60]:
def factorial_while(num):
    output = 1
    while num >= 1:
        output *= num
        num -= 1
        return output
    
factorial_while(5) == find_factorial(5)

find_factorial(5) == 5 * find_factorial(4)
find_factorial(4) == 4 * find_factorial(3)
find_factorial(3) == 3 * find_factorial(2)
find_factorial(2) == 2 * find_factorial(1)
find_factorial(1) == 1

False

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [70]:
def recursiveSubtract(num):
    if num <= 0:
        return 0
    print(f'recursiveSubtract({num}) == {num} - recursiveSubtract({num - 1})')
    return num - recursiveSubtract(num - 1)

recursiveSubtract(5)

recursiveSubtract(5) == 5 - recursiveSubtract(4)
recursiveSubtract(4) == 4 - recursiveSubtract(3)
recursiveSubtract(3) == 3 - recursiveSubtract(2)
recursiveSubtract(2) == 2 - recursiveSubtract(1)
recursiveSubtract(1) == 1 - recursiveSubtract(0)

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [76]:
def my_range(start, stop, step =1):
    while start < stop:
        yield start
        
        start += step
list(my_range(0,10))

for num in my_range(0, 10):
    print(num)
    
my_gen = my_range(0,10)

next(my_gen)
next(my_gen)

print('\n')
for num in my_gen:
    print(num)
    
# next(my_gen)

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9

In [ ]:
def padawans():
    yield 'johnny'
    yield 'mike'
    yield 'jorge'
    
list_p = list(padawans())

for student in list_p:
    print(student)
    
for student in list_p:
    print(student)
    
my_gen = padawans()

for student in my_gen:
    print(student, 'from gen')
    
for student in my_gen:
    print(student)

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [2]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

def a_places(place):
    if place == " ":
        return False
    elif place == "":
        return False
    elif place == "  ":
        return False
    else: 
        return True
place = list(filter(a_places, places))

print(place)

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [3]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

sorted_author = sorted(author, key=lambda x: x.split()[-1].lower())

print(sorted_author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [7]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]

temp = list(map(lambda x: x(9/5)*x[1] + 32 , places))

print(temp)

TypeError: 'tuple' object is not callable

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [11]:
def fib(n, current=0, next=1, iteration=0):
    if iteration <= n:
        print(f'iteration {iteration}: {current}')
        return fib(n, next, current + next, iteration + 1)
    
fib(5)

iteration 0: 0
iteration 1: 1
iteration 2: 1
iteration 3: 2
iteration 4: 3
iteration 5: 5